mixin footer()
	footer.footer
		.container 
			.row 
				.col-auto © 
					span.current-year 2021
					|.
				.col-auto
					a(href="#")  Политика конфиденциальности
				.col-auto
					a(href="#")  asik@fobo.ru