mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			+e.inner
				+e.title 
					a(href="#").toggle-form-text Напишите 
					br
					| или позвоните мне
				+e.tel(href="tel:+7909910-1777") +7 909 910-1777
				p Я&nbsp;уверена что мы&nbsp;подберем для вас лучшее решение и&nbsp;Ваше заведение заиграет новыми красками привлекая к&nbsp;себе все больше посетителей
			.d-lg-none 
				+pic("picture-4.png")
		block
	// end sContact
	