// start .sWays
.sWays {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 4;
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		&__wrap{
			position: relative;
				@include media-breakpoint-up(lg) {

					overflow: hidden;
					width: 100%;
					display: flex;
					height: calc(100vh - var(--sPT) * 2 - 6vh );
				}

		}
		--l: #{rem(112)};
		--title-color: #fff;
		--title-bg: #{rgba($color: #000000, $alpha: .5)};
		--item-left:0;
		&__title{
			position: relative;
			// width: rem(114);
			@include rfs(30px);
			font-weight: 700; 
			color: var(--title-color);
			background-color: var(--title-bg);
			@include mt;
			// min-height: ;
			padding: 10px;
			@include media-breakpoint-up(lg){
				position: absolute;
				cursor: pointer;
				left: 0;
				top: 0;
				height: 100%;
				flex:  0 0 auto;
					width: var(--l);
			span{
				// writing-mode: vertical-rl;
				// text-orientation: mixed;

							white-space: nowrap;
							position: relative;
							height: var(--l);
							display: flex;
							align-items: center;
							position: absolute;
							left: var(--l);
							bottom: 0;
							transform-origin: left bottom;
							transform: rotate(-90deg);
						}
							padding-left: rem(30);
			}
		}
		&__text{
			@include mt(.6s);
			
			height: 100%;
			color: #fff;
				@include media-breakpoint-up(lg) {

					max-width: (987 / 1584 * 100%);
					margin-left: var(--l);
					margin-right: var(--l);
					padding: rem(70);
				}
				padding: rem(70) rem(20);
			@include mt;
		}
		&__item:nth-child(2) &__text{
			display: flex;
			align-items: flex-end;
		}
		&__item{
			position: relative;
				@include media-breakpoint-up(lg) {
					display: flex;
					position: absolute;
				}
				z-index: 2;
				&::after{
					content: '';
					position: absolute;
					@include media-breakpoint-up(lg) {
						left: var(--l);
						max-width: (987 / 1584 * 100%);
						background-color: rgba($color: #000000, $alpha: .7);
					}
					background-color: rgba($color: #000000, $alpha: .5);
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: -1;
					@include mt;
				}
			left: 0;
				@include media-breakpoint-up(lg) {

					transform: translateX(var(--item-left));
					width: calc(100% - var(--l));
					margin-bottom: 0;
				}
			
				margin-bottom: rem(30);
			top: 0;
			height: 100%;
			// background-color: #fff;
			// @include mt;
			@include mt(.6s);
			&:nth-child(1){
				// z-index: 4;
			}
			&:nth-child(1) {
				@include media-breakpoint-up(lg) {
				--item-left: calc(100% );
				--title-color: #000;
				--title-bg: #fff;
				z-index: 4;
				.sWays__text{
					margin-left: auto;
				}

					
				&:hover{
					
					--item-left: var(--l);
					&::after{
						left: 20%;
						max-width: 100%;
					}
				.sWays__title{
					// transform: tra;
					left: calc(100% - var(--l));
					--title-color: #fff;
					--title-bg: transparent;
				}

					& ~ .sWays__item { 
							--title-color: #000;
							--title-bg: #fff; 
					}
				}
				}
			}

		}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sWays