mixin sWays(data)
	// start sWays
	+b.SECTION.sWays.section#sWays&attributes(attributes)
		.container
			+e.wrap 

				+e.item.bg-wrap
					+e.title
						span 02. Магазинам и торговым центрам
					+pic("block-2.png",'bg').picture-bg
					+e.text 
						p Озеленение входной зоны магазина имеет свои особенности. Основной акцент делается исключительно на зону входа, которая, как правило, имеет небольшие размеры и ей уделяется особое внимание.  На первом плане компактность, эффективность и маневренность насаждений. Я предпочитаю вариант вертикального озеленения, высокорослыми растениями в кашпо. Кашпо позволяет переместить растение в нужное Вам место, если на то требует ситуация, или же перевезти с собой при переезде в другое место.
				+e.item.bg-wrap 
					+e.title
						span 01. Ресторанам и кафе
					+pic("block-1.png",'bg').picture-bg
					+e.text 
						p У нашей команды уникальный подход в оформлении с привлекающими внимание вечнозелеными растениями, которые будут встречать посетителей не только летом, но и зимой. Зимой эти растения красиво припорашиваются снегом, а к новогодним праздникам их можно задекорировать световой гирляндой, что придает сказочный, привлекательный вид парадному входу в ваше заведение.

	// end sWays