mixin sCompositions(data)
	// start sCompositions
	+b.SECTION.sCompositions.section#sCompositions&attributes(attributes)
		.container
			+b.section-title
				h2 Я&nbsp;предлагаю уже готовые интересные варианты композиций растений, которые хорошо адаптированы к&nbsp;нашему климату и&nbsp;не&nbsp;требуют особого ухода:
				
			.row
				mixin item(p, i)
					+e.col.col-lg-4.col-sm-6
						+e.item
							p!= p
								if  i 
									span.img-rap
										+pic(i)
				+item(`<strong>Можжевельник скальный Блю Эрроу</strong>, обладающий не&nbsp;колючей, сине-зелёной со&nbsp;стальным оттенком хвоей, очаровательный в&nbsp;немного лохматом виде`,`sCompositions-1.png`)
				+item(`<strong>Туя западная Смарагд</strong>, с&nbsp;насыщенно зеленой плотной хвойной кроной, которой можно придать красивую пирамидальную, конусовидную или фантазийную спиралевидную форму`,`sCompositions-2.png`)
				+item(`<strong>Кустарник Спирея</strong>&nbsp;&mdash; интересен тем, что красиво цветет, а&nbsp;осенью листва обретает красивые осенние краски, но&nbsp;в&nbsp;зимнее время будет выглядеть не&nbsp;так нарядно`,`sCompositions-3.jpg`)
				+item(`<strong>Ель обыкновенная Нидиформис</strong>, выглядит небольшим медленно растущим кустом, свежий прирост ярко-зеленый`,`sCompositions-4.jpg`)
				+item(`<strong>Сосна горная Пумилио</strong>, очень эффектна, очень неприхотлива, порадует миниатюрными шишечками.`,`sCompositions-5.jpg`)
				+item(`<strong>Самшит Вечнозеленый</strong>, декоративный морозостойкий кустарник. Обладает  плотной кроной, состоящей  из мелких глянцевых листьев насыщенного зеленого оттенка.`,`sCompositions-6.jpg`)

	// end sCompositions