mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			.row 
				.col-xl-5.col-lg-6.ms-auto
					h2 Давайте знакомиться
					p Я, Ася Борзова, вместе со своей командой разрабатываю проекты озеленения, подбором растений, высадкой и уходом. 

					p По образованию я профессиональный дизайнер, но мои увлечения всегда были связаны с декоративными садами, фитодизайном, эко-декором, ландшафтным проектированием, выращиванием и уходом за растениями. Постепенно любимое хобби стало чем-то большим, целью профессионального развития и по-настоящему любимым делом.

					p Уверена, что вместе мы решим вашу задачу и результат оправдает все ожидания. 

	// end sAbout