extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sWays/_sWays.pug
include ../blocks/sCompositions/_sCompositions.pug
include ../blocks/sServises/_sServises.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'title'
	title= title
block pagecontent


	+mob-mnu()
	+top-nav()

	+headerBlock()
	+sAbout
	+sContent
	+sWays
	+sCompositions
	+sServises 
	+sContact()
		+footer()