mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container 
			.row
				.col-lg-5
					+e.text
						p Входная зона - одна из главных составляющих общего восприятия заведения. Она не только связывает его с внешним пространством, но, являясь визитной карточкой, встречает и привлекает гостей. Оформление входной зоны должно быть эффектным, но одновременно и легким в уходе.


						p Задача кафе, ресторана, — создать атмосферу домашнего уюта и комфорта, подчеркнуть важность гостя и проявить о нем заботу. При открытии нового заведения очень важную роль играет оформление кафе, ресторана
				.col 
					+pic("content-img.png").content-picture
	// end sContent