mixin sServises(data)
	// start sServises
	+b.SECTION.sServises.section#sServises&attributes(attributes)
		.container
			+e.head
				p Озеленение&nbsp;&mdash; не&nbsp;просто работа. Это любимое занятие, источник вдохновения и&nbsp;результат большого накопленного опыта. Отсюда и&nbsp;название&nbsp;&mdash; СмартСквер. Потому, что используемый мною подход к&nbsp;решению задач действительно быстрый, рациональный и&nbsp;мобильный&nbsp;&mdash; Смарт! Быстро появляющийся собственный сквер, как по&nbsp;щелчку&nbsp;&mdash; это так здорово!

				p Я&nbsp;предоставляю полный комплекс услуг по&nbsp;подбору, высадке и&nbsp;уходу за&nbsp;зелеными насаждениями, обучаю и&nbsp;готовлю рекомендации для самостоятельного обслуживания.
			.row
				mixin item(t,p)
					+e.col.col-xl.col-lg-4.col-sm-6
						+e.title= t 
						p!= p
				+item(`Подготовка  проекта`,`Изучу специфику Вашего заведения и&nbsp;подготовлю индивидуальный проект.`)
				+item(`Оформление  “под ключ”`,`Вам не&nbsp;придется искать растения и&nbsp;горшки, заниматься подготовкой почвы, дренажа, удобрений и&nbsp;посадкой растений, а&nbsp;так&nbsp;же их&nbsp;стрижкой&nbsp;&mdash; все это сделаю&nbsp;я. Поэтому у&nbsp;нас смарт вариант озеленения! Вам остается только выбрать.`)
				+item(`Регулярный  уход`,`Все растения, особенно находящиеся на&nbsp;улице, нуждаются в&nbsp;правильном уходе. При покупке&nbsp;Вы получаете подробную памятку по&nbsp;уходу, но&nbsp;я&nbsp;с&nbsp;удовольствием приеду для контроля их&nbsp;состояния, ухода и&nbsp;стрижки.`)
				+item(`Пересадка  растений`,`Если у&nbsp;вас уже есть наши растения и&nbsp;возникла необходимость в&nbsp;пересадке растения, я&nbsp;с&nbsp;удовольствием помогу и&nbsp;в&nbsp;этом вопросе`)
				+item(`Постпродажная поддержка`,`У&nbsp;меня не&nbsp;только проверенные годами поставщики, я&nbsp;лично отбираю каждое растение. Поэтому я&nbsp;смело даю гарантию на&nbsp;растения`)
	// end sServises