include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../blocks/mixin-wrap/mixin-wrap.pug
include ../../blocks/form-wrap/form-wrap.pug
include ../../blocks/footer/_footer.pug 
include ../../blocks/modal/_modal.pug
include js-css.pug

include ../../blocks/header/_header.pug
include ../../blocks/topLine/_topLine.pug
include ../../blocks/top-nav/_top-nav.pug 
include ../../blocks/headerBlock/_headerBlock.pug
include ../../blocks/sForm/_sForm.pug

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title title
		meta(name="description", content="Индивидуальный подбор растений и деревьев для оформления входных групп коммерческих объектов. Занимаемся составлением дизайн-проекта, подбором, закупкой, высадкой и регулярным уходом. ")
		meta(name="keywords", content="входная группа, зеленое оформления, зеленые насаждения, растения, деревья, цветы, кусты, ландшафтный дизайн, уход за растениями, подбор растений, подбор деревьев, проект ландшафта")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		//- meta(name="viewport", content="width=device-width, shrink-to-fit=no")
		//- meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,  shrink-to-fit=no")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		link(type="image/ico", href='img/favicon.ico', rel='shortcut icon') 
		<meta name="format-detection" content="telephone=no"> 
		+allcss()
	block variables
	style.
		.loaded_hiding {  opacity: 0; pointer-events: none;  } .loaded_hiding::before { display: none; }
	body.loaded_hiding(class= mainPage) 
		//- body(class= mainPage data-bg= bg)
		//- +mob-mnu()
		.main-wrapper
			block pagecontent
				h3 content
		+modal()
		+b.form-modal
			+b.toggle-form--js.on
				span
			.h1.strong Чтобы вы хотели?

			+form-wrap
				+input("Ваше имя",'text','','name')(required)
				+input("Ваш телефон",'tel')(required)
				+input("Ваш e-mail",'email')
				+input("Опишите вашу задачу",'textarea','','text')
				.row.pt-2 
					.col-auto
						+e.btn(type="submit")
							+icon("arrow-right")
					.col
						+e.policy Отправляя данные я соглашаюсь с условиями обработки персональных данных
		+allcjs()
		
		