//- WP menu
mixin mnu()
	//- "Бизнесу":"#sWays",
	//- "Композиции":"#sCompositions",
	//- "Услуги":"#sServises",
	-
		var nav= { 
			"Контакты":"#sContact",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

//- menu
//- /WP menu